@model WebApplication.Models.FancyButtonGroupViewModel
@{
    ViewBag.Title = "More Fancy Buttons";
}
<h2>@ViewBag.Title.</h2>
<h3>@Model.Message</h3>

<div class="btn-group-vertical" role="group" aria-label="...">
    @foreach (var btn in Model.Buttons)
    {
        <button type="button" class="btn @btn.Style">@btn.Name</button>
    }
</div>


