@model WebApplication.Models.ButtonGroupViewModel

@{
    ViewBag.Title = "Buttons";

}

<h2>@ViewBag.Title.</h2>
<h3>@Model.Message</h3>


<div class="btn-group-vertical" role="group" aria-label="...">
    @foreach (var btn in Model.Buttons)
    {
        <button type="button" class="btn btn-default">@btn</button>
    }
</div>

